<template>
  <div class="p-5 shadow-md rounded-md bg-bgcolor grid gap-5">
    <h3 v-if="$slots.title" class="text-2xl">
      <slot name="title" />
    </h3>
    <div v-if="$slots.content">
      <slot name="content" />
    </div>
    <div v-if="$slots.actions" class="flex justify-end gap-3">
      <slot name="actions" />
    </div>
  </div>
</template>

<script setup lang="ts">

</script>

<style scoped>

</style>