<template>
  <div
    class="p-3 shadow-md rounded-md bg-bgcolor"
    :class="{
      'shadow-none border border-primary': props.bordered
    }"
  >
    <slot />
  </div>
</template>

<script lang="ts" setup>
  import type { IProps } from '@/shared/ui/Container/UiBox/model/types'

  const props = defineProps<IProps>()
</script>