<template>
  <div>
    <status-group :group="group" v-for="group in groups" :key="group.id" />
  </div>
</template>

<script lang="ts" setup>

import type { IStatusGroup } from '@/entities/StatusGroup/model/types'

const groups: IStatusGroup[] = [
  {
    id: 1,
    name: 'created',
    title: 'Создана'
  },
  {
    id: 2,
    name: 'inWork',
    title: 'В работе'
  },
  {
    id: 3,
    name: 'complete',
    title: 'Выполнена'
  }
]

import StatusGroup from '@/entities/StatusGroup/ui/StatusGroup.vue'
</script>

<style lang="scss" scoped></style>