<template>
  <div ref="uiSelect" class="inline-block relative mb-5">
    <label class="relative ui-input border rounded-md px-4 py-2">
      <input
        @focus="isOpen = !isOpen"
        @blur="isOpen = !isOpen"
        :name="props.type"
        class="
          focus-visible:outline-none
          peer
          bg-bgcolor
        "
        type="text"
        :value="selectedVal.title"
      />
      <span
        class="absolute top-1/2 left-2 px-1 text-sm -translate-y-1/2 bg-bgcolor peer-focus:-translate-y-[145%] transition-all duration-150"
        :class="{ '-translate-y-[145%]': selectedVal.title }"
      >
        {{ props.label }}
      </span>
    </label>
<!--    <p class="absolute -bottom-7 left-1 text-error">{{errorMessage}}</p>-->
  </div>
  <teleport to="body">
    <div
      v-if="isOpen"
      class="
        absolute
        bg-bgcolor
        z-50
        shadow-md
        rounded-md
      "
      :style="
        {
          left: `${left}px`,
          top: `${bottom+10}px`,
          width: `${width}px`
        }
      ">
      <div
        class="
          px-3
          py-2
          border-t
          first:border-0
          hover:cursor-pointer
          hover:bg-primary
          first:rounded-t-md
          last:rounded-b-md
        "
        :class="{
          'bg-primary': option.name === selectedVal.name
        }"
        v-for="option of props.options"
        :key="option.name"
        @click="emitValue(option)"
      >
        <span>{{option.title}}</span>
      </div>
    </div>
  </teleport>


</template>

<script lang="ts" setup>
import { useElemPos } from '@/shared/helpers/useElemPos'
import { onMounted, ref } from 'vue'
import { useField } from 'vee-validate'

interface IOption {
  name: string
  value: string | number
}

interface IProps {
  label: string
  options: IOption[]
}

interface IEmits {
  select: [value: string | number]
}

const props = defineProps<IProps>()

const isOpen = ref<boolean>(false)
const selectedVal = ref<IOption>({})

const uiSelect = ref<HTMLDivElement | null>(null)

const {left, bottom, width} = useElemPos(uiSelect)

const emits = defineEmits<IEmits>()

const emitValue = (value: IOption) => {
  console.log(value)
  selectedVal.value = value
  emits('select', value)
}

</script>