<template>
  <ui-card>
    <template #title>
      Создать новую задачу
    </template>
    <template #content>
      <ui-input type="task.title" label="Название задачи" />
      <ui-input type="task.description" label="Описание задачи" />
      <UiSelect :options="list" label="Статус" />
    </template>
    <template #actions>
      <ui-action-button @click="addNewTask">Создать</ui-action-button>
      <ui-action-button type="text" @click="closeModal()">Отменить</ui-action-button>
    </template>
  </ui-card>
</template>

<script setup lang="ts">
import { UiActionButton } from '@/shared/ui'
import UiCard from '@/shared/ui/Container/UiCard/UiCard.vue'
import { UiInput } from '@/shared/ui/Input'
import { useModalStore } from '@/shared/ui/UiModal/model/store/modal'
import { computed } from 'vue'
import * as yup from 'yup'
import { useForm } from 'vee-validate'
import type { IProps } from '../model/types'
import { useTaskHandler } from '../model/task'
import UiSelect from '@/shared/ui/Input/UiSelect/ui/UiSelect.vue'
import { useStatusGroups } from '@/entities/StatusGroup'
import { storeToRefs } from 'pinia'

const formSchema = computed(() => {
  return {
    taskName: yup.string().required('Поле не может быть пустым'),
    taskDescription: yup.string()
  }
})

const props =  defineProps<IProps>()

const {values} = useForm({
  validationSchema: formSchema,
  initialValues: props,
})

const {closeModal} = useModalStore()

const taskHandler = useTaskHandler()

const addNewTask = () => {
  taskHandler.addTask({...values.task, status: 'created'})
  closeModal()
}

const {list} = storeToRefs(useStatusGroups())
</script>

<style scoped>

</style>