<script setup lang="ts">
import { UiBox } from '@/shared/ui/Container/UiBox'
import { UiActionButton } from '@/shared/ui'
import { useModalStore } from '@/shared/ui/UiModal/model/store/modal'
import { useTaskStore } from '@/entities/Task'
import UiModal from '@/shared/ui/UiModal/ui/UiModal.vue'
import AddTaskForm from '@/features/Task/taskForm/ui/taskForm.vue'
import { useStatusGroups, StatusGroup } from '@/entities/StatusGroup'
import { onBeforeMount, ref } from 'vue'
import type { IStatusGroup } from '@/entities/StatusGroup/model/types'

const statusGroupList =  ref<IStatusGroup[]>([])

const {openModal} = useModalStore()
const {fetchStatusGroups} = useStatusGroups()
const { fetchTasks } = useTaskStore()

onBeforeMount(async () => {
  statusGroupList.value = await fetchStatusGroups()
})


fetchTasks()

</script>

<template>
  <main>
    <ui-box>
      <ui-action-button @click="openModal(AddTaskForm)">Создать таску</ui-action-button>
      <div class="flex gap-3 flex-col md:flex-row">
        <status-group class="flex-shrink-0 flex-1" v-for="group in statusGroupList" :key="group.id" :group="group" />
      </div>
    </ui-box>
  </main>
  <ui-modal />
</template>
