<template>
  <ui-box bordered class="border-dashed" v-drop-zone="dropHandler">
    <div>
      <h4>{{props.group.title}}</h4>
    </div>
    <div class="flex flex-col gap-3">
      <task-card :task="task" v-for="task of taskList" :key="task.id" v-draggable="task.id" />
    </div>
  </ui-box>
</template>

<script setup lang="ts">

import { type ITask, TaskCard, useTaskStore } from '@/entities/Task'
import type { IProps } from '@/entities/StatusGroup/model/types'
import { computed } from 'vue'
import { UiBox } from '@/shared/ui'
import {useDnD} from '@/shared/helpers/DragAndDrop'

const props = defineProps<IProps>()

const taskStore = useTaskStore()
const {vDraggable, vDropZone} = useDnD()

const taskList = computed<ITask[]>(() => taskStore.getTasksByStatusName(props.group.name))

const dropHandler = (taskId: string) => {
  const task = {status: props.group.name}
  taskStore.updateTask(taskId, task)
}

</script>

<style scoped>

</style>