<template>
  <div class="inline-block relative mb-5">
    <label class="relative ui-input border rounded-md px-4 py-2">
      <input :name="props.type" class="focus-visible:outline-none peer bg-bgcolor" type="text" v-model="value" />
      <span
        class="absolute top-1/2 left-2 px-1 text-sm -translate-y-1/2 bg-bgcolor peer-focus:-translate-y-[145%] transition-all duration-150"
        :class="{ '-translate-y-[145%]': isActive }"
      >
        {{ props.label }}
      </span>
    </label>
    <p class="absolute -bottom-7 left-1 text-error">{{errorMessage}}</p>
  </div>

</template>

<script lang="ts" setup>
import { computed } from 'vue'
import type { IProps } from '../model/types'
import { themeColors } from '@/shared/config'
import { useField } from 'vee-validate'

const props = withDefaults(defineProps<IProps>(), {
  color: 'primary',
  type: 'text'
})

const { value, errorMessage } = useField(props.type)


const color = computed<string>(() => themeColors[props.color])

const model = defineModel()

const isActive = computed<boolean>(() => !!value.value)
</script>

<style>
.ui-input {
  border-color: v-bind(color);
}
</style>
