<template>
  <teleport v-if="isOpen" to="body">
    <ui-overlay class="flex justify-center items-center" @click="modal.closeModal()">
      <div @click.stop>
        <component :is="modalData" v-bind="propsData" />
      </div>
    </ui-overlay>
  </teleport>
</template>

<script setup lang="ts">
import UiOverlay from '@/shared/ui/UiOverlay/UiOverlay.vue'
import { useModalStore } from '@/shared/ui/UiModal/model/store/modal'
import { storeToRefs } from 'pinia'

const modal = useModalStore()

const {isOpen, modalData, propsData} = storeToRefs(modal)

</script>

<style scoped>

</style>